*{
  font-family: "Helvetica Neue";
}

.btn{
  width: 100%;
  border: none;
  color: white;
  background-color: #007CF8;
  font-size: 15px;
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
}

#logo{
  height: 40px;
  margin-top: 15px;
}

#navigation{
  box-sizing: border-box;
  position: fixed;
  z-index: 1;
  background-color: white;
  left: 0;
  right: 0;
  top: 0;
  box-shadow: 0px 1px 10px #ABABAB;
  height: 70px;
}

ul{
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li{
  float: left;
  margin: 20px;
}

li:first-child{
  margin-top: 0;
}

li:last-child{
  float: right;
  margin: 18px 20px;
}

#profile-popup{
  width: 34px;
  height: 34px;
  border-radius: 40px;
  background-color: grey;
  cursor: pointer;
  background-image: url("../assets/profile-placeholder.png");
  background-repeat: no-repeat;
  background-size: cover;
}


#profile-popup-content{
  width: 200px;
  height: 200px;
  border: solid;
  position: fixed;
  right: 0;
  top: 70px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px;
  background-color: white;
  z-index: 1;
}

#profile-image-div{
  background-image: url("../assets/profile-placeholder.png");
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.profile-data{
  float: left;
  height: 50px;
}

#profile-text-data p{
  margin: 3px 0px 3px 15px;
}

#profile-text-data{
  width: 130px;
}

.spinner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.spinner div{
  box-shadow: 0px 0px 15px #ABABAB;
}

#main-container{
  margin-top: 70px;
}

#upcoming-sessions{
  border: solid;
  width: 700px;
  text-align: center;
  margin: 0 auto;
}

.tutor-section-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tutor-section{
  margin: 10px 50px;
}

.tutor-section h1{
  text-align: center;
  font-size: 50px;
  margin-bottom: 50px;
}

#tutor-modal{
  position: fixed;
  border: solid 1px #ABABAB;
  box-shadow: 0px 0px 15px #ABABAB;
  width: 900px;
  height: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 1;
}

#modal-tutor-name{
  font-size: 30px;
  font-weight: bold;
}

#tutor-modal img{
  width: 300px;
  height: 400px;
}

#tutor-information{
  width: 550px;
  height: 400px;
  float: right;
  margin-right: 30px;
}

#close-button{
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
}

#close-button:hover{
  cursor: pointer;
  color: #EE4C4C;
}
